body {
  font-family: 'Averia Sans Libre', bold;
  background-image: url("../images/sodaBubbles.gif");
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  text-align: center;
  font-size: 80px;
  margin-bottom: 15px;
}

p {
  font-size: 25px;
}

main {
  margin: 0 auto;
  width: 900px;
  height: 500px;
  position: relative;
  cursor: pointer;
}

footer {
  text-align: center;
  font-size: 40px;
}

button.bubbles {
  font-size: 20px;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid black;
  position: absolute;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
}

#timer {
  font-size: 25px;
  z-index: 10;
  float: right;
  margin-right: 20px;
  display: inline-block;
  position: relative;
}

#high-scores {
  z-index: 10;
  float: left;
  margin-left: 20px;
  display: inline-block;
}

body.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

button:focus {outline:0;}